Wikipedia List of Largest University
I have the data scripped here while i then clean and visualize it in the clean file named 'Cleaning' you can click on that to visualize it all.

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
response = requests.get('https://en.wikipedia.org/wiki/List_of_largest_universities')
soup = BeautifulSoup(response.content)
table = soup.find('table', attrs={'class': 'sortable'})

In [5]:
trs = table.findAll('tr')

In [6]:
trs[0]

<tr>
<th>Country
</th>
<th>University
</th>
<th>Founded
</th>
<th>Type
</th>
<th>Enrollment
</th>
<th>Ref
</th></tr>

In [7]:
columns = []
for item in trs[0].findAll('th'):
    print(item.text.strip())
    columns.append(item.text.strip())

Country
University
Founded
Type
Enrollment
Ref

In [8]:
columns

['Country', 'University', 'Founded', 'Type', 'Enrollment', 'Ref']

In [9]:

columns = list(map(lambda x: x.text.strip(), trs[0].findAll('th')))
columns[5] = "Links"

In [10]:
columns

['Country', 'University', 'Founded', 'Type', 'Enrollment', 'Links']

In [11]:
rows = trs[1:]

In [13]:
rows[0].findAll('td')

[<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="500" data-file-width="700" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/36/Flag_of_Albania.svg/21px-Flag_of_Albania.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/36/Flag_of_Albania.svg/32px-Flag_of_Albania.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/36/Flag_of_Albania.svg/42px-Flag_of_Albania.svg.png 2x" width="21"/></span></span> </span><a href="/wiki/Albania" title="Albania">Albania</a>
 </td>,
 <td><a href="/wiki/University_of_Tirana" title="University of Tirana">University of Tirana</a>
 </td>,
 <td style="text-align: right;">1957
 </td>,
 <td>Public
 </td>,
 <td style="text-align: right;">35,000
 </td>,
 <td>
 </td>]

In [14]:
list(map(lambda x: x.text.strip(), rows[0].findAll('td')))

['Albania', 'University of Tirana', '1957', 'Public', '35,000', '']

In [15]:
rows[0].findAll('td')[1].a.attrs['href'].lstrip('/')

'wiki/University_of_Tirana'

In [16]:
def extract_row(tr):
    row_soup_list = tr.findAll('td')
    row = list(map(lambda x: x.text.strip(), row_soup_list))
    if len(row) <6:
        row.append('')
        print("=====================================")
        print(row)
    link = row_soup_list[1].a.attrs['href'].lstrip('/')
    row[-1] = f'https://en.wikipedia.org/{link}' if link else ''
    return row

In [17]:
extract_row(rows[0])

['Albania',
 'University of Tirana',
 '1957',
 'Public',
 '35,000',
 'https://en.wikipedia.org/wiki/University_of_Tirana']

In [18]:
data = list(map(extract_row, rows))

=====================================
['France', "Centre national d'enseignement à distance", '1939', 'Public', '350,000[8]', '']

In [19]:
columns

['Country', 'University', 'Founded', 'Type', 'Enrollment', 'Links']

In [20]:
data

[['Albania',
  'University of Tirana',
  '1957',
  'Public',
  '35,000',
  'https://en.wikipedia.org/wiki/University_of_Tirana'],
 ['Algeria',
  'Constantine University',
  '1978',
  'Public',
  '85,000',
  'https://en.wikipedia.org/wiki/List_of_universities_in_Algeria'],
 ['Angola',
  'Agostinho Neto University',
  '1962',
  'Public',
  '29,827',
  'https://en.wikipedia.org/wiki/Agostinho_Neto_University'],
 ['Argentina',
  'University of Buenos Aires',
  '1821',
  'Public',
  '311,175',
  'https://en.wikipedia.org/wiki/University_of_Buenos_Aires'],
 ['Australia',
  'Monash University',
  '1958',
  'Public',
  '73,807',
  'https://en.wikipedia.org/wiki/Monash_University'],
 ['Austria',
  'University of Vienna',
  '1365',
  'Public',
  '91,000',
  'https://en.wikipedia.org/wiki/University_of_Vienna'],
 ['Bangladesh',
  'National University, Bangladesh',
  '1992',
  'Public',
  '2,097,182',
  'https://en.wikipedia.org/wiki/National_University,_Bangladesh'],
 ['Belarus',
  'Belarusian State University',
  '1921',
  'Public',
  '25,500',
  'https://en.wikipedia.org/wiki/Belarusian_State_University'],
 ['Belgium',
  'KU Leuven',
  '1425',
  'Private, state-funded',
  '55,484',
  'https://en.wikipedia.org/wiki/Katholieke_Universiteit_Leuven'],
 ['Bosnia and Herzegovina',
  'University of Sarajevo',
  '1949',
  'Public',
  '30,866',
  'https://en.wikipedia.org/wiki/University_of_Sarajevo'],
 ['Botswana',
  'University of Botswana',
  '1982',
  'Public',
  '32,000',
  'https://en.wikipedia.org/wiki/University_of_Botswana'],
 ['Brazil',
  'Estácio de Sá University',
  '1970',
  'Private',
  '215,000',
  'https://en.wikipedia.org/wiki/Est%C3%A1cio_de_S%C3%A1_University'],
 ['Bulgaria',
  'Sofia University',
  '1888',
  'Public',
  '18 911',
  'https://en.wikipedia.org/wiki/Sofia_University'],
 ['Canada',
  'University of Toronto',
  '1827',
  'Public',
  '84,000',
  'https://en.wikipedia.org/wiki/University_of_Toronto'],
 ['China',
  'Shanghai Open University',
  '1960',
  'Public',
  '80,000',
  'https://en.wikipedia.org/wiki/Shanghai_Open_University'],
 ['Colombia',
  'National University of Colombia',
  '1867',
  'Public',
  '53,581',
  'https://en.wikipedia.org/wiki/National_University_of_Colombia'],
 ['Costa Rica',
  'Universidad de Costa Rica',
  '1940',
  'Public',
  '42,750',
  'https://en.wikipedia.org/wiki/Universidad_de_Costa_Rica'],
 ['Croatia',
  'University of Zagreb',
  '1669',
  'Public',
  '72,480',
  'https://en.wikipedia.org/wiki/University_of_Zagreb'],
 ['Denmark',
  'Aarhus University',
  '1928',
  'Public',
  '43,600',
  'https://en.wikipedia.org/wiki/Aarhus_University'],
 ['Dominican Republic',
  'Universidad Autónoma de Santo Domingo',
  '1538',
  'Public',
  '170,530',
  'https://en.wikipedia.org/wiki/Universidad_Aut%C3%B3noma_de_Santo_Domingo'],
 ['Egypt',
  'Ain Shams University',
  '1950',
  'Public',
  '170,000',
  'https://en.wikipedia.org/wiki/Ain_Shams_University'],
 ['Estonia',
  'University of Tartu',
  '1632',
  'Public',
  '14,000',
  'https://en.wikipedia.org/wiki/University_of_Tartu'],
 ['Finland',
  'University of Helsinki',
  '1640',
  'Public',
  '36,500',
  'https://en.wikipedia.org/wiki/University_of_Helsinki'],
 ['France',
  "Centre national d'enseignement à distance",
  '1939',
  'Public',
  '350,000[8]',
  'https://en.wikipedia.org/wiki/Centre_national_d%27enseignement_%C3%A0_distance'],
 ['Germany',
  'IU International University of Applied Sciences',
  '1998',
  'Private',
  '130,000',
  'https://en.wikipedia.org/wiki/IU_International_University_of_Applied_Sciences'],
 ['Greece',
  'National and Kapodistrian University of Athens',
  '1837',
  'Public',
  '104,000',
  'https://en.wikipedia.org/wiki/National_and_Kapodistrian_University_of_Athens'],
 ['Guatemala',
  'Universidad de San Carlos de Guatemala',
  '1676',
  'Public',
  '124,000',
  'https://en.wikipedia.org/wiki/Universidad_de_San_Carlos_de_Guatemala'],
 ['Hong Kong',
  'Hong Kong Polytechnic University',
  '1937',
  'Public',
  '32,000',
  'https://en.wikipedia.org/wiki/Hong_Kong_Polytechnic_University'],
 ['Iceland',
  'University of Iceland',
  '1911',
  'Public',
  '13,782',
  'https://en.wikipedia.org/wiki/University_of_Iceland'],
 ['India',
  'Indira Gandhi National Open University',
  '1985',
  'Public',
  '7,140,000',
  'https://en.wikipedia.org/wiki/Indira_Gandhi_National_Open_University'],
 ['Indonesia',
  'Universitas Terbuka',
  '1984',
  'Public',
  '1,045,665 (total) as per 2019/2020[14]\n311,028 (active) as per 4 November 2020 [15]',
  'https://en.wikipedia.org/wiki/Universitas_Terbuka'],
 ['Iran',
  'Islamic Azad University',
  '1982',
  'Semi-private',
  '1,000,000',
  'https://en.wikipedia.org/wiki/Islamic_Azad_University'],
 ['Ireland',
  'University College Dublin',
  '1834',
  'Public (formerly private)',
  '32,900',
  'https://en.wikipedia.org/wiki/University_College_Dublin'],
 ['Israel',
  'Tel Aviv University',
  '1956',
  'Public',
  '26,023',
  'https://en.wikipedia.org/wiki/Tel_Aviv_University'],
 ['Italy',
  'Sapienza University of Rome',
  '1303',
  'Public',
  '112,564',
  'https://en.wikipedia.org/wiki/Sapienza_University_of_Rome'],
 ['Japan',
  'Nihon University',
  '1889',
  'Private',
  '70,667',
  'https://en.wikipedia.org/wiki/Nihon_University'],
 ['Kenya',
  'University of Nairobi',
  '1970',
  'Public',
  '84,000',
  'https://en.wikipedia.org/wiki/University_of_Nairobi'],
 ['Kosovo',
  'Universiteti i Prishtinës',
  '1999',
  'Public',
  '41,833',
  'https://en.wikipedia.org/wiki/Universiteti_i_Prishtin%C3%ABs'],
 ['Lithuania',
  'Vilnius University',
  '1579',
  'Public',
  '23,606',
  'https://en.wikipedia.org/wiki/Vilnius_University'],
 ['Macau',
  'Macau University of Science and Technology',
  '2000',
  'Private',
  '10,373',
  'https://en.wikipedia.org/wiki/Macau_University_of_Science_and_Technology'],
 ['Malaysia',
  'Universiti Teknologi MARA',
  '1956',
  'Public',
  '100,000',
  'https://en.wikipedia.org/wiki/Universiti_Teknologi_MARA'],
 ['Mexico',
  'National Autonomous University of Mexico',
  '1551',
  'Public',
  '349,515',
  'https://en.wikipedia.org/wiki/National_Autonomous_University_of_Mexico'],
 ['Nepal',
  'Tribhuvan University',
  '1959',
  'Public',
  '604,437',
  'https://en.wikipedia.org/wiki/Tribhuvan_University'],
 ['Netherlands',
  'University of Amsterdam',
  '1632',
  'Public',
  '31,186',
  'https://en.wikipedia.org/wiki/University_of_Amsterdam'],
 ['New Zealand',
  'University of Auckland',
  '1883',
  'Public',
  '33,050',
  'https://en.wikipedia.org/wiki/University_of_Auckland'],
 ['North Macedonia',
  'University of Skopje',
  '1943',
  'Public',
  '50,000',
  'https://en.wikipedia.org/wiki/University_of_Skopje'],
 ['Norway',
  'Norwegian University of Science and Technology',
  '1996',
  'Public',
  '39,000',
  'https://en.wikipedia.org/wiki/Norwegian_University_of_Science_and_Technology'],
 ['Pakistan',
  'Virtual University of Pakistan',
  '2002',
  'Public',
  '165,000',
  'https://en.wikipedia.org/wiki/Virtual_University_of_Pakistan'],
 ['Peru',
  'National University of San Marcos',
  '1551',
  'Private',
  '37,032',
  'https://en.wikipedia.org/wiki/National_University_of_San_Marcos'],
 ['Philippines',
  'Polytechnic University of the Philippines',
  '1904',
  'Public',
  '68,249',
  'https://en.wikipedia.org/wiki/Polytechnic_University_of_the_Philippines'],
 ['Poland',
  'University of Warsaw',
  '1816',
  'Public',
  '44,400',
  'https://en.wikipedia.org/wiki/University_of_Warsaw'],
 ['Portugal',
  'University of Lisbon',
  '1288',
  'Public',
  '48,100',
  'https://en.wikipedia.org/wiki/University_of_Lisbon'],
 ['Romania',
  'Spiru Haret University',
  '1991',
  'Private',
  '311,928',
  'https://en.wikipedia.org/wiki/Spiru_Haret_University'],
 ['Russia',
  'Modern University for the Humanities',
  '1992',
  'Private',
  '200,000',
  'https://en.wikipedia.org/wiki/Modern_University_for_the_Humanities'],
 ['Saudi Arabia',
  'King Abdulaziz University',
  '1976',
  'Public',
  '177,234',
  'https://en.wikipedia.org/wiki/King_Abdulaziz_University'],
 ['Singapore',
  'National University of Singapore',
  '1905',
  'Public',
  '38,300',
  'https://en.wikipedia.org/wiki/National_University_of_Singapore'],
 ['Slovenia',
  'University of Ljubljana',
  '1919',
  'Public',
  '48,821',
  'https://en.wikipedia.org/wiki/University_of_Ljubljana'],
 ['South Africa',
  'University of South Africa',
  '1873',
  'Public',
  '328,179',
  'https://en.wikipedia.org/wiki/University_of_South_Africa'],
 ['South Korea',
  'Korea National Open University',
  '1972',
  'Public',
  '173,758',
  'https://en.wikipedia.org/wiki/Korea_National_Open_University'],
 ['Spain',
  'National University of Distance Education',
  '1972',
  'Public',
  '260,079',
  'https://en.wikipedia.org/wiki/National_University_of_Distance_Education'],
 ['Sweden',
  'Lund University',
  '1666',
  'Public',
  '30,646',
  'https://en.wikipedia.org/wiki/Lund_University'],
 ['Switzerland',
  'University of Zurich',
  '1833[34]',
  'Public',
  '26,356',
  'https://en.wikipedia.org/wiki/University_of_Zurich'],
 ['Taiwan',
  'National Taiwan University',
  '1928',
  'Public',
  '31,758',
  'https://en.wikipedia.org/wiki/National_Taiwan_University'],
 ['Thailand',
  'Ramkhamhaeng University',
  '1971',
  'Public',
  '525,000',
  'https://en.wikipedia.org/wiki/Ramkhamhaeng_University'],
 ['Trinidad and Tobago',
  'University of the West Indies',
  '1960',
  'Public',
  '60,000+',
  'https://en.wikipedia.org/wiki/University_of_the_West_Indies'],
 ['Turkey',
  'Anadolu University',
  '1958',
  'Public',
  '1,969,733',
  'https://en.wikipedia.org/wiki/Anadolu_University'],
 ['United Kingdom',
  'Open University',
  '1969',
  'Public',
  '253,075',
  'https://en.wikipedia.org/wiki/Open_University'],
 ['United States',
  'Texas A&M University',
  '1876',
  'Public',
  '73,284',
  'https://en.wikipedia.org/wiki/Texas_A%26M_University'],
 ['Uruguay',
  'University of the Republic',
  '1949',
  'Public',
  '144,108',
  'https://en.wikipedia.org/wiki/University_of_the_Republic'],
 ['Venezuela',
  'Universidad Central de Venezuela',
  '1721',
  'Public',
  '41,059',
  'https://en.wikipedia.org/wiki/Universidad_Central_de_Venezuela']]

In [26]:
import csv
import json
import pandas as pd

In [27]:
with open('university.csv', 'w', newline='') as f:
    csvwriter = csv.writer(f)
    csvwriter.writerow(columns)
    csvwriter.writerows(data)

In [28]:
with open('university.json', 'w') as f:
    json.dump(data, f, indent=4)

In [29]:
df = pd.DataFrame(data=data, columns=columns)

In [30]:
df

,Country,University,Founded,Type,Enrollment,Links
0,Albania,University of Tirana,1957,Public,"35,000",https://en.wikipedia.org/wiki/University_of_Ti...
1,Algeria,Constantine University,1978,Public,"85,000",https://en.wikipedia.org/wiki/List_of_universi...
2,Angola,Agostinho Neto University,1962,Public,"29,827",https://en.wikipedia.org/wiki/Agostinho_Neto_U...
3,Argentina,University of Buenos Aires,1821,Public,"311,175",https://en.wikipedia.org/wiki/University_of_Bu...
4,Australia,Monash University,1958,Public,"73,807",https://en.wikipedia.org/wiki/Monash_University
...,...,...,...,...,...,...
65,Turkey,Anadolu University,1958,Public,"1,969,733",https://en.wikipedia.org/wiki/Anadolu_University
66,United Kingdom,Open University,1969,Public,"253,075",https://en.wikipedia.org/wiki/Open_University
67,United States,Texas A&M University,1876,Public,"73,284",https://en.wikipedia.org/wiki/Texas_A%26M_Univ...
68,Uruguay,University of the Republic,1949,Public,"144,108",https://en.wikipedia.org/wiki/University_of_th...
69,Venezuela,Universidad Central de Venezuela,1721,Public,"41,059",https://en.wikipedia.org/wiki/Universidad_Cent...